backend/Deployment Admeme1.json
{
  "name": "Deployment Admeme1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meme-agent-input2",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "allowedOrigins": "*",
          "ignoreBots": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        2080
      ],
      "id": "f0f929c2-f0cd-4b5e-9e7b-55bf127160c7",
      "name": "Webhook1",
      "webhookId": "47865168-5fa9-4851-8c40-ead694bc5229"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: \"meta-llama/llama-4-scout-17b-16e-instruct\",\n    temperature: 0.7,\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a meme marketing strategist. You output ONLY valid JSON arrays, nothing else.\"\n      },\n      {\n        role: \"user\",\n        content: `A brand wants to create viral memes.\n\nBrand: ${$('Code in JavaScript5').first().json.brand_name}\nProduct: ${$('Code in JavaScript5').first().json.product_or_service}\nTarget Audience: ${$('Code in JavaScript5').first().json.target_audience}\nCampaign Goal: ${$('Code in JavaScript5').first().json.campaign_goal}\nTone: ${$('Code in JavaScript5').first().json.tone}\nAvoid: ${$('Code in JavaScript5').first().json.topics_to_avoid}\nCurrent trending topics: ${$('Extract_Trends').first().json.trends_string}\n\nGenerate exactly 6 meme-worthy keywords or concepts that connect this product to internet culture and resonate with the target audience.\n\nOutput ONLY a JSON array of strings, no explanation:\n[\"keyword1\", \"keyword2\", \"keyword3\", \"keyword4\", \"keyword5\", \"keyword6\"]`\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        2016
      ],
      "id": "cecf80ed-cda5-4624-b50b-d42fae0bc038",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dJiYkaaTInx3cWZN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Groq returns OpenAI format: response.choices[0].message.content\nconst response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '';\n\nif (!content) {\n  return [{ json: { keywords: [], error: 'No response from Groq' } }];\n}\n\n// Extract JSON array from response\nconst jsonMatch = content.match(/\\[[\\s\\S]*?\\]/);\nlet keywords = [];\n\nif (jsonMatch) {\n  try {\n    keywords = JSON.parse(jsonMatch[0]);\n  } catch(e) {\n    // Fallback: split by comma\n    keywords = content.replace(/[\\[\\]\"]/g, '').split(',').map(k => k.trim());\n  }\n}\n\nreturn [{ json: { keywords: keywords.slice(0, 6) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2016
      ],
      "id": "854462a4-1e4e-4251-bb3c-d1be51bc4aa2",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "// Input: 2 items from Merge (Append)\nconst keywords = $input.all().find(i => i.json.keywords)?.json.keywords || [];\nconst templates = $input.all().find(i => i.json.templates)?.json.templates || [];\n\nreturn [{\n  json: {\n    keywords,\n    templates\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        2352
      ],
      "id": "a03492c8-fa21-4fed-83ec-48f1ef997219",
      "name": "Remove_{undefined}1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        2352
      ],
      "id": "bd5e116f-0eb4-4185-b342-80c346cb14cd",
      "name": "Merge_kw&templet1"
    },
    {
      "parameters": {
        "jsCode": "const memes = $input.first().json.data?.memes || [];\nconst keywords = ($input.first().json.keywords || []).slice(0, 3).map(k => k.toLowerCase());\nconst trendingNames = ($input.first().json.trending_template_names || []).map(n => n.toLowerCase());\n\n// 1. Calculate the scores with a random noise factor to ensure we don't get the same memes every time\nconst scored = memes.map(meme => {\n  const name = meme.name.toLowerCase();\n  const keywordScore = keywords.filter(k => name.includes(k)).length;\n  const trendScore = trendingNames.some(t => {\n    const tWords = t.split(' ');\n    return tWords.some(w => w.length > 4 && name.includes(w));\n  }) ? 1 : 0;\n  const randomNoise = Math.random() * 1.5; // Acts as a 'temperature' to shuffle the top results\n  return { ...meme, score: keywordScore + trendScore + randomNoise };\n});\n\n// 2. Separate by source to guarantee a balanced mix\nconst imgflipMemes = scored.filter(m => m.source !== 'qdrant').sort((a,b) => b.score - a.score);\nconst qdrantMemes = scored.filter(m => m.source === 'qdrant').sort((a,b) => b.score - a.score);\n\n// 3. THE FIX FOR VARIETY: \n// Instead of taking the absolute top 10 every time, we take the top 40 most relevant,\n// completely shuffle them, and THEN pick a subset. This forces a massive rotation of templates!\nconst candidateImgflip = imgflipMemes.slice(0, 40).sort(() => 0.5 - Math.random());\nconst candidateQdrant = qdrantMemes.slice(0, 20).sort(() => 0.5 - Math.random());\n\nconst randomTopImgflip = candidateImgflip.slice(0, 15);\nconst randomTopQdrant = candidateQdrant.slice(0, 5);\n\n// 4. Combine into a pool of 20 random (but highly relevant) templates\nconst combinedPool = [...randomTopImgflip, ...randomTopQdrant].sort(() => 0.5 - Math.random());\n\nreturn [{\n  json: {\n    templates: combinedPool,\n    keywords: keywords\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        2128
      ],
      "id": "03b79b54-63c5-4634-a6db-4d8277572fcc",
      "name": "Filter_templet1"
    },
    {
      "parameters": {
        "url": "https://api.imgflip.com/get_memes",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        2016
      ],
      "id": "f18ff947-08eb-4af4-8b56-ddca5dca5072",
      "name": "Get_100_templets1"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '';\nconst allMemes = $('Merge_Templates').first().json.data?.memes || [];\n\nconst jsonMatch = content.match(/\\[[\\s\\S]*?\\]/);\n\nif (!jsonMatch) {\n  return [{ json: { selected_templates: [] } }];\n}\n\nlet selected = [];\ntry {\n  const raw = JSON.parse(jsonMatch[0]);\n  selected = raw.map((item) => {\n    const idStr = String(item.id || '');\n    const found = allMemes.find((t) => String(t.id) === idStr) || {};\n    return {\n      id:   idStr,\n      name: String(item.name || found.name || \"Unknown\"),\n      url:  String(found.url || \"\")\n    };\n  });\n} catch(err) {\n  console.log(\"Parse error:\", String(err));\n}\n\nreturn [{ json: { selected_templates: selected } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        2352
      ],
      "id": "b23b7ceb-d47c-43b1-91f7-312e0db02bdc",
      "name": "parse_JSON1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $('Code in JavaScript5').first().json;\n\n// Get keywords - try multiple sources\nconst keywords = $('Filter_templet1').first().json.keywords ||\n                 $('Code in JavaScript6').first().json.keywords || [];\n\n// Get templates from Filter_templet1\nconst templates = $json.templates || $('Filter_templet1').first().json.templates || [];\n\n// Get trending Reddit template names for context\nconst trendingNames = $('Merge_Templates').first().json.trending_template_names || [];\n\nconst templatesText = templates\n  .map(t => `- \"${t.name}\" (ID: ${t.id})`)\n  .join('\\n');\n\nconst trendingText = trendingNames.length > 0\n  ? `\\nCURRENTLY TRENDING TEMPLATE STYLES (use as inspiration):\\n${trendingNames.join(', ')}`\n  : '';\n\nreturn {\n  json: {\n    model: \"meta-llama/llama-4-scout-17b-16e-instruct\",\n    temperature: 1.2,\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a meme template selector. You output ONLY valid JSON arrays, nothing else. No explanation, no markdown.\"\n      },\n      {\n        role: \"user\",\n        content: `Pick the 10 best meme templates for this brand.\\n\\nBRAND: ${input.brand_name}\\nPRODUCT: ${input.product_or_service}\\nAUDIENCE: ${input.target_audience}\\nTONE: ${input.tone}\\nKEYWORDS: ${keywords.join(', ')}\\n${trendingText}\\n\\nAVAILABLE TEMPLATES:\\n${templatesText}\\n\\nChoose exactly 10 templates that are recognizable to the audience and match the tone.\\nIMPORTANT: Prioritize variety — avoid picking the same templates repeatedly.\\nPrefer templates that haven't been commonly used for this brand type.\\nPick at least a few unexpected/creative templates that still fit the brand.\\n\\nOUTPUT ONLY THIS JSON ARRAY WITH EXACTLY 10 OBJECTS:\\n[\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"},\\n  {\"id\": \"<id>\", \"name\": \"<name>\"}\\n]`\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        2352
      ],
      "id": "094f5b9f-e24f-4e8a-a581-d7f79d615da6",
      "name": "promptstring_builder1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        2352
      ],
      "id": "6497a821-2fd4-4d55-8415-ed0874bcdf2e",
      "name": "recommended_templets1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dJiYkaaTInx3cWZN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgflip.com/caption_image",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "specifyBody": "string",
        "body": "={{ \n  { \n    ...$json.imgflip_payload, \n    username: $(\"Get_Secrets\").first().json.username, \n    password: $(\"Get_Secrets\").first().json.password \n  } \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        2368
      ],
      "id": "f5363772-19c9-40e8-a5b1-125e54894cd3",
      "name": "templet1"
    },
    {
      "parameters": {
        "jsCode": "const selectedTemplates = $input.all()[0].json.selected_templates || [];\n\nreturn selectedTemplates.map(t => ({\n  json: {\n    id: t.id,\n    name: t.name,\n    reason: t.reason\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        2352
      ],
      "id": "0dcecaa8-ebba-4f9d-aa30-1410f74d2b1b",
      "name": "split_array_seperate1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst originalMemes = $('Enrich_Meme_Output').first().json.memes || [];\n\nlet aiResults = [];\ntry {\n  const content = raw.choices?.[0]?.message?.content || '{}';\n  const cleaned = content.replace(/```json|```/g, '').trim();\n  const parsedObj = JSON.parse(cleaned);\n  aiResults = parsedObj.results || parsedObj || [];\n  if (!Array.isArray(aiResults)) {\n    aiResults = [aiResults];\n  }\n} catch (e) {\n  console.log(\"Parse error:\", e.message);\n}\n\nreturn originalMemes.map((memeData, index) => {\n  let jarvis = {};\n  try {\n    const parsed = aiResults[index] || aiResults[0] || {};\n    const p = parsed.parameters || {\n        social_currency: 0, triggers: 0, emotion: 0, public_value: 0, practical_value: 0, storytelling: 0,\n        visual_familiarity: 0, text_density: 0, sentiment_polarity: 0, subject_prominence: 0,\n        visual_hooks: 0, share_friction: 0, relatability_breadth: 0\n    };\n    \n    const stepps    = (p.social_currency + p.triggers + p.emotion + p.public_value + p.practical_value + p.storytelling) / 6 || 0;\n    const cognitive = (p.visual_familiarity + p.text_density + p.sentiment_polarity + p.subject_prominence) / 4 || 0;\n    const tipping   = (p.visual_hooks + p.share_friction + p.relatability_breadth) / 3 || 0;\n    const virality  = (stepps * 0.50) + (cognitive * 0.25) + (tipping * 0.25) || 0;\n\n    jarvis = {\n      parameters: p,\n      scores: {\n        stepps_score:    Math.round(stepps * 100) / 100,\n        cognitive_score: Math.round(cognitive * 100) / 100,\n        tipping_score:   Math.round(tipping * 100) / 100,\n        virality_score:  Math.round(virality * 100) / 100\n      },\n      verdict:   virality >= 3.5 ? \"VIRAL\" : \"NOT_VIRAL\",\n      reasoning: parsed.reasoning || \"Failed to evaluate.\"\n    };\n  } catch(e) {\n    jarvis = { scores: {virality_score: 0, stepps_score: 0, cognitive_score: 0, tipping_score: 0}, verdict: \"NOT_VIRAL\", parameters: {}, reasoning: \"Error\" };\n  }\n\n  const scores = jarvis.scores;\n  return {\n    json: {\n      status:          scores.virality_score >= 3.5 ? \"Approved ✅\" : \"Low Virality ❌\",\n      meme_url:        memeData.url           || \"\",\n      page_url:        memeData.page_url      || \"\",\n      template_name:   memeData.template_name || \"\",\n      caption_top:     memeData.text0         || \"\",\n      caption_bottom:  memeData.text1         || \"\",\n      virality_score:  scores.virality_score,\n      stepps_score:    scores.stepps_score,\n      cognitive_score: scores.cognitive_score,\n      tipping_score:   scores.tipping_score,\n      verdict:         jarvis.verdict,\n      reasoning:       jarvis.reasoning,\n      parameters:      jarvis.parameters\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        2352
      ],
      "id": "8eedbb06-a838-46ee-9cc1-4bb991192884",
      "name": "Final_Output"
    },
    {
      "parameters": {
        "jsCode": "// New input parser - replaces the old website scraping logic\nconst body = $input.first().json.body;\n\n// Validate required fields\nconst required = ['brand_name', 'product_or_service', 'target_audience'];\nconst missing = required.filter(f => !body[f] || body[f].trim() === '');\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Clean and structure the input\nreturn [{\n  json: {\n    brand_name:        body.brand_name.trim(),\n    product_or_service: body.product_or_service.trim(),\n    target_audience:   body.target_audience.trim(),\n    campaign_goal:     (body.campaign_goal || 'brand awareness').trim(),\n    tone:              (body.tone || 'witty').trim(),\n    topics_to_avoid:   (body.topics_to_avoid || 'none').trim(),\n    \n    // Keep these for downstream nodes that reference them\n    user_description:  `${body.brand_name} - ${body.product_or_service}`,\n    timestamp:         new Date().toISOString(),\n    campaign_id:       Math.random().toString(36).substring(2, 10).toUpperCase()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        2032
      ],
      "id": "dfe9ac8c-1bf5-4cb2-ac4e-8be752fbcc7d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/embed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: \"embed-english-v3.0\",\n    input_type: \"search_query\",\n    embedding_types: [\"float\"],\n    texts: [\n      `${$('Code in JavaScript5').first().json.brand_name} ${$('Code in JavaScript5').first().json.product_or_service} ${$('Code in JavaScript5').first().json.target_audience}`\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -640,
        2032
      ],
      "id": "e4fa321a-b5c1-4bb4-954e-915732f2e1ae",
      "name": "Embed_Brand_Brief",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RaOUXL7zelOehHbM",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.3:6333/collections/meme_trends/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    vector: $json.embeddings.float[0],\n    limit: 5,\n    with_payload: true\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        2032
      ],
      "id": "cc8d8100-800e-4783-9c04-56282c2c5574",
      "name": "Query_Qdrant"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.result || [];\n\n// Deduplicate by text\nconst seen = new Set();\nconst trends = [];\nfor (const r of results) {\n  const text = r.payload.text;\n  if (!seen.has(text)) {\n    seen.add(text);\n    trends.push(text);\n  }\n}\n\nreturn [{\n  json: {\n    relevant_trends: trends,\n    trends_string: trends.join(', ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        2032
      ],
      "id": "9dbf9c64-17e6-438b-bbe7-ba85a781d481",
      "name": "Extract_Trends"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.3:6333/collections/meme_templates/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    vector: $('Embed_Brand_Brief').first().json.embeddings.float[0],\n    limit: 40,\n    with_payload: true\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        2016
      ],
      "id": "e0d9748a-877a-48f7-8f5f-a4dc365b399e",
      "name": "Query_Template_Qdrant"
    },
    {
      "parameters": {
        "jsCode": "// Get Imgflip classics\nconst imgflipMemes = $('Get_100_templets1').first().json.data?.memes || [];\nconst imgflipTemplates = imgflipMemes.slice(0, 50).map(m => ({\n  id:     m.id,\n  name:   m.name,\n  url:    m.url,\n  box_count: m.box_count,\n  source: 'imgflip'\n}));\n\n// Get Reddit templates from Qdrant\nconst qdrantResults = $('Query_Template_Qdrant').first().json.result || [];\nconst qdrantTemplates = qdrantResults.map(r => ({\n  id: String(r.payload?.id || r.payload?.template_id || r.id),\n  name: String(r.payload?.name || r.payload?.title || 'Unknown'),\n  url: String(r.payload?.url || r.payload?.image_url || r.payload?.template_url || ''),\n  box_count: Number(r.payload?.box_count || 2),\n  source: 'qdrant'\n})).filter(m => m.id && m.id !== 'undefined');\n\nconst combinedMemes = [...imgflipTemplates, ...qdrantTemplates];\nconst redditNames = qdrantResults.map(r => r.payload?.name || '').filter(n => n);\n\nconsole.log(`Imgflip: ${imgflipTemplates.length} | Qdrant: ${qdrantTemplates.length}`);\n\nreturn [{\n  json: {\n    data: {\n      memes: combinedMemes\n    },\n    keywords:              $('Code in JavaScript6').first().json.keywords || [],\n    trending_template_names: redditNames\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        2016
      ],
      "id": "238bdf56-38b6-48d4-b580-9dc4e1ef4d04",
      "name": "Merge_Templates"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sourceItems = $('parse_groq').all(); // grab template names + captions from here\nconst memes = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const source = sourceItems[i]?.json || {};\n  \n  if (item.json?.success && item.json?.data?.url) {\n    memes.push({\n        url:           item.json.data.url,\n        page_url:      item.json.data.page_url,\n        success:       true,\n        template_name: source.template_name || source.name || \"\",\n        text0:         source.text0 || \"\",\n        text1:         source.text1 || \"\"\n    });\n  } else if (source.template_url) {\n    const texts = [source.text0, source.text1, source.text2, source.text3]\n      .map(t => t ? t.trim() : \"\")\n      .filter(t => t !== \"\");\n      \n    let topText = \"_\";\n    let bottomText = \"_\";\n    \n    if (texts.length === 1) {\n      topText = texts[0];\n    } else if (texts.length === 2) {\n      topText = texts[0];\n      bottomText = texts[1];\n    } else if (texts.length === 3) {\n      topText = texts[0];\n      bottomText = texts[1] + \"~n\" + texts[2];\n    } else if (texts.length >= 4) {\n      topText = texts[0] + \"~n\" + texts[1];\n      bottomText = texts[2] + \"~n\" + texts[3];\n    }\n\n    const t0 = encodeURIComponent(topText);\n    const t1 = encodeURIComponent(bottomText);\n    const customUrl = `https://api.memegen.link/images/custom/${t0}/${t1}.png?background=${encodeURIComponent(source.template_url)}`;\n    \n    memes.push({\n        url:           customUrl,\n        page_url:      source.template_url,\n        success:       true,\n        template_name: source.template_name || source.name || \"\",\n        text0:         source.text0 || \"\",\n        text1:         source.text1 || \"\"\n    });\n  } else {\n    console.log(\"Skipping failed meme:\", JSON.stringify(item.json));\n  }\n}\n\nreturn [{ json: { memes } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        2368
      ],
      "id": "7eb57504-8a2f-4271-a22e-a498f8e7b2e0",
      "name": "Enrich_Meme_Output"
    },
    {
      "parameters": {
        "jsCode": "// Pass ALL items through, don't collapse to one\nreturn $input.all().map(item => ({\n  json: {\n    id:   item.json.id,\n    name: item.json.name\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        2352
      ],
      "id": "968898d8-6b90-4e3e-9da5-cc171fe4db44",
      "name": "Store_Template_ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: \"llama-3.3-70b-versatile\",\n    temperature: 0.1,\n    max_tokens: 3000,\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a meme virality analyst. Score the provided array of memes. Return ONLY a valid JSON object with a 'results' array. No explanation, no markdown.\"\n      },\n      {\n        role: \"user\",\n        content: \"Evaluate these memes:\\n\" + JSON.stringify($json.memes, null, 2) + \"\\n\\nFor each meme, provide a JSON object inside the 'results' array with this exact structure:\\n{\\\"parameters\\\":{\\\"social_currency\\\":0.0,\\\"triggers\\\":0.0,\\\"emotion\\\":0.0,\\\"public_value\\\":0.0,\\\"practical_value\\\":0.0,\\\"storytelling\\\":0.0,\\\"visual_familiarity\\\":0.0,\\\"text_density\\\":0.0,\\\"sentiment_polarity\\\":0.0,\\\"subject_prominence\\\":0.0,\\\"visual_hooks\\\":0.0,\\\"share_friction\\\":0.0,\\\"relatability_breadth\\\":0.0},\\\"scores\\\":{\\\"stepps_score\\\":0.0,\\\"cognitive_score\\\":0.0,\\\"tipping_score\\\":0.0,\\\"virality_score\\\":0.0},\\\"verdict\\\":\\\"VIRAL or NOT_VIRAL\\\",\\\"reasoning\\\":\\\"one sentence\\\"}\\n\\nIMPORTANT: REPLACE ALL 0.0 WITH YOUR ACTUAL 1.0-5.0 SCORES.\\nThe output MUST be a JSON object like this:\\n{ \\\"results\\\": [ {...}, {...} ] } matching the length of the input memes array, in the exact same order.\"\n      }\n    ]\n  })\n}}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3056,
        2352
      ],
      "id": "fcf97799-f1ac-43fd-9178-e424060fa19f",
      "name": "Virality_Score_Jarvis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dJiYkaaTInx3cWZN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jSxdxk6vQKMOiQQl",
          "mode": "id",
          "cachedResultUrl": "/workflow/jSxdxk6vQKMOiQQl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        2032
      ],
      "id": "439cf6f0-b970-489b-b48f-a8b621f1ff20",
      "name": "Get_Secrets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: \"meta-llama/llama-4-scout-17b-16e-instruct\",\n    temperature: 0.85, \n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a witty, sarcastic Gen-Z meme creator. You MUST output a single valid JSON object with exactly 4 keys: text0, text1, text2, text3. No markdown, no explanations.\"\n      },\n      {\n        role: \"user\",\n        content: `Write a viral meme.\n\nPRODUCT: ${$('Code in JavaScript5').first().json.product_or_service}\nAUDIENCE: ${$('Code in JavaScript5').first().json.target_audience}\nFOCUS TOPIC: \"${$('Code in JavaScript6').first().json.keywords[$itemIndex % $('Code in JavaScript6').first().json.keywords.length]}\"\n\nTEMPLATE NAME: ${$json.name}\n\nTEMPLATE FORMATS:\n- \"Anakin Padme\": text0=Anakin says something slightly concerning, text1=Padme asks a hopeful question, text2=Anakin stares silently (use \"...\"), text3=Padme repeats question worriedly.\n- \"Gru's Plan\": text0=Step 1, text1=Step 2, text2=Twist (same as Step 2), text3=Realization.\n- \"Distracted Boyfriend\": text0=Boring thing, text1=Me, text2=Exciting thing, text3=\"\"\n- Default 2-panel: text0=Setup, text1=Punchline, text2=\"\", text3=\"\"\n\nSTRICT RULES:\n1. Make the joke specifically about the FOCUS TOPIC.\n2. NO corporate marketing speak. Be sarcastic and relatable.\n3. Keep text short (max 10 words per box).\n4. You MUST provide \"text0\", \"text1\", \"text2\", and \"text3\". If a box isn't needed, make it an empty string \"\".\n\nOUTPUT EXACTLY THIS JSON FORMAT:\n{\"text0\": \"...\", \"text1\": \"...\", \"text2\": \"...\", \"text3\": \"...\"}`\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        2352
      ],
      "id": "f00f569f-9ece-4ced-ba47-4fcbe8b2dc8b",
      "name": "Generate_Captions_Groq",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dJiYkaaTInx3cWZN",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst templateItems = $('Store_Template_ID').all();\nconst allMemes = $('Merge_Templates').first().json.data?.memes || [];\nconst output = [];\n\nconst enforceWordLimit = (text, limit) => {\n  if (!text) return \"\";\n  return text.trim().replace(/\\n/g, \" \").split(/\\s+/).slice(0, limit).join(\" \");\n};\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const content = item.json.choices?.[0]?.message?.content || '';\n\n  const templateId   = String(templateItems[i]?.json?.id || '');\n  const templateName = String(templateItems[i]?.json?.name || '');\n  const foundMeme = allMemes.find(m => String(m.id) === templateId);\n  const boxCount = foundMeme ? foundMeme.box_count : 2; \n  const templateUrl = foundMeme ? foundMeme.url : '';\n\n  if (!content) continue;\n\n  const jsonMatch = content.match(/\\{[\\s\\S]*?\\}/);\n  if (!jsonMatch) continue;\n\n  let parsed;\n  try {\n    parsed = JSON.parse(jsonMatch[0]);\n  } catch(err) {\n    continue;\n  }\n\n  // 🔒 SECURED: No credentials here at all!\n  const imgflipPayload = {\n    template_id: templateId\n  };\n\n  if (parsed.text0 && boxCount > 0) imgflipPayload[\"boxes[0][text]\"] = enforceWordLimit(parsed.text0, 10);\n  if (parsed.text1 && boxCount > 1) imgflipPayload[\"boxes[1][text]\"] = enforceWordLimit(parsed.text1, 10);\n  if (parsed.text2 && boxCount > 2) imgflipPayload[\"boxes[2][text]\"] = enforceWordLimit(parsed.text2, 10);\n  if (parsed.text3 && boxCount > 3) imgflipPayload[\"boxes[3][text]\"] = enforceWordLimit(parsed.text3, 10);\n\n  output.push({\n    json: {\n      id: templateId,\n      name: templateName,\n      template_url: templateUrl,\n      imgflip_payload: imgflipPayload,\n      template_name: templateName,           // ADD THIS\n      text0: enforceWordLimit(parsed.text0, 10),  // ADD THIS\n      text1: enforceWordLimit(parsed.text1, 10)   // ADD THIS\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        2352
      ],
      "id": "8b6c9ccf-96eb-419a-959e-1a14f84cddb0",
      "name": "parse_groq"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Get_100_templets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_kw&templet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove_{undefined}1": {
      "main": [
        [
          {
            "node": "promptstring_builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_kw&templet1": {
      "main": [
        [
          {
            "node": "Remove_{undefined}1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_templet1": {
      "main": [
        [
          {
            "node": "Merge_kw&templet1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get_100_templets1": {
      "main": [
        [
          {
            "node": "Query_Template_Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_JSON1": {
      "main": [
        [
          {
            "node": "split_array_seperate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "promptstring_builder1": {
      "main": [
        [
          {
            "node": "recommended_templets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recommended_templets1": {
      "main": [
        [
          {
            "node": "parse_JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "templet1": {
      "main": [
        [
          {
            "node": "Enrich_Meme_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_array_seperate1": {
      "main": [
        [
          {
            "node": "Store_Template_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Get_Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed_Brand_Brief": {
      "main": [
        [
          {
            "node": "Query_Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query_Qdrant": {
      "main": [
        [
          {
            "node": "Extract_Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Trends": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query_Template_Qdrant": {
      "main": [
        [
          {
            "node": "Merge_Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Templates": {
      "main": [
        [
          {
            "node": "Filter_templet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich_Meme_Output": {
      "main": [
        [
          {
            "node": "Virality_Score_Jarvis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store_Template_ID": {
      "main": [
        [
          {
            "node": "Generate_Captions_Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Virality_Score_Jarvis": {
      "main": [
        [
          {
            "node": "Final_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Secrets": {
      "main": [
        [
          {
            "node": "Embed_Brand_Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Captions_Groq": {
      "main": [
        [
          {
            "node": "parse_groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_groq": {
      "main": [
        [
          {
            "node": "templet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d16801a1-12f9-40e1-b576-ff43dd26a810",
  "meta": {
    "instanceId": "f064aa3249fa2c3b59c87e9052fbdfdcf06dea9d953da90bbfb49661322f3b9f"
  },
  "id": "stNuwNjrhWKGQ8f6",
  "tags": []
}